:root {
  /*Colores*/
  --azul-elefante-ligth: #b1daff;
  --azul-elefante: #77abda;
  --boton-azul: #00c3ff;
  --nota-azul: #dbfaff;
  --texto: #707070;
  --blanco: #ffff;
  --negro: black;
  --fondo: #f5f5f5;
  --transparente: transparent;

  /*Fuentes*/
  --josefin: "Josefin Sans", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
  --consolas: "consolas";
}

* {
  font-family: var(--roboto) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  flex-shrink: 0;
  padding: 1em;
  width: 300px;
  background-color: #05101a;
  color: #949ba1;
  display: flex;
  flex-direction: column;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 150px;
  height: 150px;
  background-color: var(--blanco);
  border-radius: 100%;
  background-image: url("/images/Rouge.jpg");
  background-position: 70% 0%;
  background-repeat: no-repeat;
  background-size: 200%;
}

#nickname {
  padding-top: 1.5rem;
  font-size: 20px;
}

.tools {
  font-size: 30px;
  margin: auto 0;
}

.tool > a {
  padding: 1rem 0.5rem;
}

.tool-name {
  margin-left: 0.5rem;
}

.hamburger {
  padding: 0 50px;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  background: none;
  color: var(--blanco);
}

.closeIcon {
  display: none;
}

.showMenu {
  transform: translateY(0) !important;
}

/*Estilos del Reloj*/

.widget p {
  display: inline-block;
  line-height: 1em;
}

.fecha {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

.reloj {
  width: 100%;
  padding: 20px;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.reloj .caja-segundos {
  display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
  font-size: 1.5rem;
  display: block;
}

/*Estilos del pop-up*/
.search-form-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(5, 16, 26, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 99999;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.form-container-inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  color: var(--blanco);
}

.form-input {
  border: none;
  margin: 10px 0;
  padding: 0.8rem;
  width: 100%;
  background-color: #05101a;
  color: var(--blanco);
  font-size: 20px;
  border-radius: 7px;
  text-align: center;
}

.form-note {
  font-size: var(--font-size-xsm);
  align-self: flex-end;
}

.form-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 2px solid var(--secondary-background-color);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.search-form-container.activated {
  opacity: 1;
  transform: scale(1);
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
  .notes__sidebar {
    width: 30%;
  }

  .user-avatar {
    width: 115px;
    height: 115px;
  }

  .tools {
    text-align: center;
    font-size: 22px;
  }

  .fecha {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding: 10px;
  }

  .reloj {
    padding: 10px;
    font-size: 2rem;
  }

  .reloj .segundos,
  .reloj .ampm {
    font-size: 1rem;
  }
}

@media (min-width: 425px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 425px) {
  .notes {
    flex-wrap: wrap;
    height: auto;
  }

  .notes__sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  .user-avatar {
    width: 65px;
    height: 65px;
  }

  #nickname {
    display: none;
  }

  .user {
    width: auto;
  }

  .widget {
    display: none;
  }

  #nickname {
    padding: 0;
  }

  .tools {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }

  .hamburger {
    display: flex;
    padding: 0;
    font-size: 40px;
    align-items: center;
    justify-content: center;
  }

  .closeIcon{
    width: 100%;
    background: none;
    color: white;
    font-size: 22px;
    border: none;
    padding: 15px 0;
  }
}